<!DOCTYPE html>
<html lang="ko"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/sales.css}" type="text/css">
    <script th:src="@{/js/sales.js}"></script>
    <title>Sales</title>
</head>

<body>
<!--<script th:inline="javascript">-->
<!--    var categories = [[${categories}]];-->
<!--</script>-->
<!--<th:block th:insert="~{/product/categoryHeader::header}"></th:block>-->

<div id="salesdiv">
    <h1 class="header1">주문 / 결제</h1>
    <hr>
    <div id="salesForm">
        <h2 class="header2">구매자 정보</h2>
        <table>
            <tr>
                <td class="table_left_td1">ID</td>
                <td th:text="${u_username}">
                </td>
            </tr>
            <tr>
                <td class="table_left_td1">닉네임</td>
                <td th:text="${nickname}"></td>
            </tr>
            <tr>
                <td class="table_left_td1">이메일</td>
                <td th:text="${email}">내용</td>
            </tr>
            <tr>
                <td class="table_left_td1">휴대폰 번호</td>
                <td th:text="${phone}">내용</td>
            </tr>
        </table>

        <h2 class="header2">배송지 정보</h2>

        <div class="addressImp" th:each="post, i : ${add}">
            <a th:id="'addressbtn'+${i.count}" class="btn btn-outline-dark" th:text="${post.address_name}">집 명칭</a>
        </div>

        <div class="addressImpDetail" th:each="post, i : ${add}">
            <table class="addressImpTb" th:id="'addresstable' + ${i.count}">
                <tr>
                    <td class="table_left_td2">배송주소</td>
                    <td>
                        <p th:text="${post.address}" th:id="'postAddressImp'+ ${i.count}"></p>
                        <p th:text="${post.address_detail}" th:id="'postAddressDeValue' + ${i.count}"></p>
                        <p th:text="${post.postcode}" th:id="'postCode' + ${i.count}"></p>
                    </td>
                </tr>
            </table>
        </div>
    </div>

        <h2 class="header2">결제 정보</h2>
        <form id="salesCp" th:action="@{/siteSales/sales}" method="POST">
            <input type="hidden" id="u_username" name="u_username" th:value="${u_username}"/>
            <input type="hidden" id="p_id" name="p_id" th:value="${p_id}"/>
            <input type="hidden" id="address" name="address" th:value="${address}"/>
            <input type="hidden" id="address_detail" name="address_detail" th:value="${address_detail}"/>
            <input type="hidden" id="postcode" name="postcode" th:value="${postcode}"/>
            <table>
                <tr>
                    <td class="table_left_td3">총 상품 가격</td>
                    <td>
                        <input type="text" id="amount" name="amount" th:value="${amount}"/>
                    </td>
                </tr>

                <tr>
                    <td class="table_left_td3">배송비</td>
                    <td>3000원</td>
                </tr>

                <tr>
                    <td class="table_left_td3">배송 요청사항</td>
                    <td>
                        <input id="deliveryreq" type="text" name="deliveryreq" th:value="${deliveryreq}"/>
                    </td>
                </tr>
                <tr>
                    <td class="table_left_td3">신용/체크카드 결제</td>

                    <td id="inputCardNum">
                        <div class="cardnum">
                            <h6>카드번호</h6>
                            <input id="c_num" style="width: 150px;" type="text" name="c_num" th:value="${c_num}" required/>
                        </div>

                        <div class="cardnum">
                            <h6>유효 기간</h6>
                            <input id="c_year" class="period" style="width: 60px;" type="text" name="c_year" th:value="${c_year}" required/>
                            <input id="c_month" class="period" style="width: 60px;" type="text" name="c_month" th:value="${c_month}" required/>
                        </div>

                        <div class="cardnum">
                            <h6>CVC</h6>
                            <input id="c_cvc" style="width: 150px;" type="text" name="c_cvc" th:value="${c_cvc}" required/>
                            <input id="balance" style="width: 150px;" type="hidden" name="balance" th:value="${balance}"/>
                        </div>
                    </td>
                </tr>
            </table>

            <div id="salesbtn">
                <a class="btn btn-outline-dark" id="backBtn">돌아가기</a>
                <button id="paybtn" type="submit" class="btn btn-outline-dark">결제하기</button>

            </div>

        </form>


    </div>

</div>
</body>

</html>