<!DOCTYPE html>
<html lang="ko"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="review">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/51772bd9bd.js"></script>
        <!-- Review -->
        <div class="container my-3 border rounded">
            <div class="mb-3 mt-3">
                <label >리뷰:<span id="review"></span> 개</label>
            <div class="input-group my-2" sec:authorize="hasAnyRole('ROLE_MEMBER')">
                <input class="form-control" id="input_comment" type="text">
                <button class="btn btn-outline-primary" id="btn_comment" type="button">리뷰작성</button>
            </div>
                <table class="table table-hover mt-3" id="reviews_table">
                    <tr th:each="review : ${reviews}">
                        <td>
                        <!--내용 배열 -->
                        <p><strong>작성자</strong> <span id="author"></span></p>
                        <p><strong>내용</strong> <span id="reviewContent"></span></p>
                        <p><strong>작성일</strong> <span id="creationDate"></span></p>
                        </td>
                    </tr>
                </table>
             </div>
        </div>
<!-- 예제 -->
<!--        &lt;!&ndash; Reviews &ndash;&gt;-->
<!--        <div class="d-flex" th:each="review : ${review}">-->
<!--            <div class="list">-->
<!--            &lt;!&ndash; Review 1 &ndash;&gt;-->
<!--                <p id="id" name="delete" rows="4" cols="50" th:text="${content}"></p><br>-->
<!--                    <div>-->
<!--                        <form th:action="@{review/list}" method="POST">-->
<!--                            <input th:value="${review.user_id}" type="hidden">-->
<!--                            <button type="button" value="delete">삭제</button>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <p th:text="'작성자:'+${review.user_id}"><strong>user</strong></p>-->
<!--                    </div>-->
<!--                     <div>-->
<!--                         <p th:text="'내용:'+${review.content}"><strong>안녕</strong></p>-->
<!--                     </div>-->
<!--                    <div>-->
<!--                        <p th:text="'작성일'+${review.reviewdate}"><strong>2023-07-26</strong></p>-->
<!--                    </div>-->
                <!-- ROLE_ADMIN -->
                <div class="addReply">
                    <p id="adminId" name="adminReply">
                    <form action="/reply" method="POST">
                        <input type="text" name="adminReply" th:value="${reply}" sec:authorize="hasAnyRole('ADMIM')">
                        <button class="btn btn-outline-primary" id="btn_reply" type="button" sec:authorize="hasAnyRole('ADMIN')">답변</button>
                    </form>
                    </p>
                </div>
            </div>
            </div>

        </div>

</th:block>
</html>
