body {
  background-color: white;
  padding-top: 150px;
}
.container {
  border-radius: 5px;
  padding: 20px;
}

#container-1 {
  border: 1px solid black;
  background-color: rgb(237, 237, 237)
}

h1 {
  font-size: 80px;
}

#footbtn{
margin-top:20px;
width: 100%;
font-size: 30px;
}

#footbtn a{
  color:black;
  font-weight: 550;
}

#noAddress{
  color:black;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#logoName{
    font-size: 180px;
    font-weight: 550;
}

#logo{
    width:200px;
    height:200px;
    margin-right:20px;
}

.blue{
    color:blue;
    font-size: 180px;
    font-weight: 550;
}

.red{
    color:red;
    font-size: 180px;
    font-weight: 550;
}

.black{
    color:black;
    font-size: 180px;
    font-weight: 550;
}


