.contitle{
    width:100%
}
.cont{
    float: left;
    border: 1px solid #333;
}
.userid{
    float: left;
    border: 1px solid #333;
    height:100%;
    width:20%;
}
.username{
    float: left;
    border: 1px solid #333;
    width:10%;
    height:100%;
}
.useremail{
    float: left;
    border: 1px solid #333;
    width:30%;
    height:100%;
}
.userphon{
    float: left;
    border: 1px solid #333;
    width:20%;
    height:100%;
}
.userstat{
    float: left;
    border: 1px solid #333;
    width:10%;
    height:100%;
}
.userauth{
    float: left;
    border: 1px solid #333;
    width:10%;
    height:100%;
}
.pimg{
    float: left;
    border: 1px solid #333;
    width:15%;
    height:100%;
}
.pname{
    float: left;
    border: 1px solid #333;
    width:15%;
    height:100%;
}
.price{
    float: left;
    border: 1px solid #333;
    width:20%;
    height:100%;
}
.stock{
    float: left;
    border: 1px solid #333;
    width:10%;
    height:100%;
}
.orderStock{
    float: left;
    border: 1px solid #333;
    width:10%;
    height:100%;
}
.main_cate{
    float: left;
    border: 1px solid #333;
    width:15%;
    height:100%;
}
.sub_cate{
    float: left;
    border: 1px solid #333;
    width:15%;
    height:100%;
    align-text: center;
}
.rank{
    float: left;
    border: 1px solid #333;
    width:10%;
    height:100%;
}
.p_rank{
    width:100%;
}
