/* This will reset some styles, prevent default margins */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif; /* Assuming Arial for the font */
    line-height: 1.5; /* This will give a little more space between lines of text */
    color: #333; /* A dark grey for text */
}

/* Container styles */
.d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Review box styles */
.review {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa; /* Light grey color */
    border: 1px solid #ddd; /* Darker grey border */
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px; /* Rounded corners */
    width: 100%;
    max-width: 800px; /* To keep the review boxes from becoming too wide on large screens */
}

/* Review content styles */
.review p {
    margin-bottom: 10px;
}

/* Review button styles */
.review button {
    align-self: flex-start;
    background-color: #f44336; /* Red color */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/* Pagination container styles */
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

/* Pagination button styles */
.pageButton, .arrow-button {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
}

.pageButton:disabled {
    background-color: #ddd;
    cursor: default;
}
