
  hr{
   border: 5px solid #000;
  }

  .header2 {
  margin-left : 25%;
  }

  #homename {
   margin-left : 25%;
  }

  table {
    margin-left : 400px;
    width: 50%;
    border: 1px solid #000;
  }

  td {
    border: 1px solid #000;
    width: 150px;
  }

